spring:
  datasource:
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?characterEncoding=UTF-8&useSSL=false&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      properties:
        hibernate:
          default_batch_fetch_size: 100
          order_inserts: true
          order_updates: true
          jdbc:
            batch_size: 100
    database-platform: org.hibernate.dialect.MySQL8Dialect

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  jwt:
    secret-key: ${JWT_SECRET}
    access-expiration-time: 1800000
    refresh-expiration-time: 604800000
    authorities-key: "roles"
    token-prefix: "Bearer "
